body {
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(5px);
	font-family: Inter, Arial, sans-serif;
	color: #333;
}

h1 {
	font-size: 24px;
	margin: 0 0 10px 0;
	color: #2c3e50;
}

h2 {
	font-size: 18px;
	margin: 0 0 10px 0;
	color: #2c3e50;
}

h3 {
	font-size: 16px;
	margin: 0 0 10px 0;
	color: #2c3e50;
}

p {
	margin: 0;
	font-size: 14px;
	line-height: 1.4;
}

input {
	flex: 1;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 14px;
}

button {
	background-color: #3498db;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #2980b9;
}

#powertags-container {
	background-color: #F6F8FA;
	border-radius: 8px;
	padding: 20px;
	position: relative;
	top: 5rem;
	left: 50%;
	transform: translateX(-50%);
	max-width: 500px;
	width: 90%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#powertags-header {
	display: flex;
	justify-content: space-between;
}

#powertags-header button {
	background-color: rgba(255, 255, 255, 0.8);
	color: #000000;
	font-weight: bold;
}

#powertags-header button:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: #000000;
}

#section-manage-powertags, #section-create-powertag {
	background-color: #ffffff;
	border-radius: 4px;
	padding: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	max-width: 490px;
}

#section-manage-powertags > p {
	margin-bottom: 1rem;
	font-size: 0.8rem;
}

.tag-management form {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	margin-top: 1rem;
}

.tag-management input {
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 14px;
	width: 100%;
	padding: 0.5rem 0.5rem;
}

.tag-management button {
	font-size: 0.7rem;
}

.tag-input,
.property-input {
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
	gap: 5px
}

.tag-input button,
.property-input button {
	background-color: #ddd;
	color: #000;
	border: none;
	border-radius: 4px;
	padding: 4px 12px;
	cursor: pointer;
	font-size: 12px;
	transition: background-color 0.3s ease;
}

.hashtag-input-wrapper {
	position: relative;
	display: flex
}

.hashtag-input-wrapper input {
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 14px;
	width: 100%;
}

.hashtag {
	height: 100%;
	color: #888;
	font-weight: bold;
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
	background-color: #eee;
}


.tag-management {
	margin-bottom: 20px;
	background-color: #eee;
	padding: 1rem;
}

.tag-management h3 {
	margin-bottom: 10px;
}

.tag-management-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
}

.tag-management-header button {
	font-size: 0.7rem;
}

.sortable-property {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #eee;
	border-radius: 4px;
	margin-bottom: 5px;
}

.sortable-property .icon-group {
	display: flex;
	gap: 0.5rem;
	flex-direction: row;
	align-items: center;
	cursor: move;
}

.sortable-property button {
	background-color: #e74c3c;
	font-size: 0.7rem;
	padding: 0.2rem;
}

.sortable-property button:hover {
	background-color: #c0392b;
}
